[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/tyshen/snipmate.vim
[submodule "supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/current-func-info.vim"]
	path = bundle/current-func-info.vim
	url = https://github.com/tyru/current-func-info.vim
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "neverland-vim-theme"]
	path = neverland-vim-theme
	url = https://github.com/trapd00r/neverland-vim-theme
[submodule "bundle/neverland-vim-theme"]
	path = bundle/neverland-vim-theme
	url = https://github.com/trapd00r/neverland-vim-theme
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/QuickBuf"]
	path = bundle/QuickBuf
	url = https://github.com/vim-scripts/QuickBuf.git
[submodule "bundle/qnamebuf"]
	path = bundle/qnamebuf
	url = https://github.com/tyshen/qnamebuf.git
